* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #26282e;
}

.allContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 35vw;
    height: 70vh;
    min-height: fit-content;
    background-color: #deb887cf;
    border-radius: 10rem;
    color: #00008b;
    font-size: calc(2rem + 1vw);
    padding: 2rem;
}

.contentBox ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 3rem;
}

.contentBox ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.entryName {
    font-weight: bold;
    font-size: calc(1rem + .7vw);
}

.entryValue {
    font-size: calc(1rem + .7vw);
}

.students {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    font-size: calc(1rem + .7vw);
}

.student {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: calc(1rem + .7vw);
    width: 60%;
    border: .2rem solid #00008b;
    border-radius: 1rem;
    padding: .7rem 1.4rem;
    gap: 1rem;
    background-color: #00008b2a;
}

.genderLogo {
    height:  calc(2.5rem + 1vw);
}

.mainTitle {
    margin: 3rem auto;
    font-size: calc(2rem + 1vw);
}

.studentsTitle {
    margin: 3rem auto;
    font-size: calc(1.5rem + 1vw);
}

.userForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 2rem;
    font-size: calc(1rem + .8vw);
}

.inputForm{
    width: 90%;
    height: calc(2rem + 1vw);
    border-radius: 1.5rem;
    text-align: center;
    font-size: calc(1rem + .7vw);
}

.userForm button {
    background-color: #00008b;
    color: #ffe4c4;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    font-size: calc(1rem + .8vw);
}