<!DOCTYPE html>
{{define "display"}}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>{{.Title}}</title>
    </head>
    <body>
        <div class="allContent">
            <div class="contentBox">
                <h1 class="mainTitle">{{.MainTitle}}</h1>
                <div class="userInfo">
                    <p class="entryName">Nom :</p>
                    <p class="entryValue">{{.UserInfo.LastName}}</p>
                    <p class="entryName">Prénom :</p>
                    <p class="entryValue">{{.UserInfo.Name}}</p>
                    <p class="entryName">Date d'anniversaire :</p>
                    <p class="entryValue">{{.UserInfo.Birthday}}</p>
                    <p class="entryName">Sexe :</p>
                    <p class="entryValue">{{.UserInfo.Gender}}</p>
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}